$container-max-sidths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1440px
);

// Required
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

@import "../node_modules/bootstrap/scss/bootstrap";

// COMMON
body {
  color: #191919;
  font-size: 16px;
  font-weight: 400;
  font-family: 'NotoSansKR', sans-serif;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.subsidiary {
  .inner {
    #prevBtn {
      position: absolute;
      z-index: 10;
      left: 0;
      font-size: 20px;
      color: #191919;
      opacity: .3;
      cursor: pointer;
    }
    #nextBtn {
      position: absolute;
      z-index: 10;
      right: 0;
      font-size: 20px;
      color: #191919;
      opacity: .3;
      cursor: pointer;
    }
  }
}

// HEADER
header {
  width: 100%;
  background-color: #fbbe00;
  box-sizing: border-box;
  border: 2px solid #191919;
  position: fixed;
  top: 0;
  z-index: 9;
  .inner {
    width: 1440px;
    height: 80px;
    margin: 0 auto;
    position: relative;
    a.logo {
      height: 80px;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      img {
        width: 160px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        padding-left: 10px;
      }
    }
    .nav {
      display: flex;
      position: absolute;
      height: 80px;
      right: 0;
      align-items: center;
      ul.menu {
        font-family: Arial, sans-serif;
        display: flex;
        padding: 0;
        margin-bottom: 0;
        li {
          a {
            font-size: 16px;
            font-weight: 700;
            padding: 15px 30px;
            margin-top: 4px;
            display: block;
            color: #191919;
            &:hover {
              color: white;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

// SUBSIDIARY
.subsidiary {
  width: 100%;
  height: 160px;
  background-color: white;
  box-sizing: border-box;
  border: 2px solid #191919;
  position: relative;
  .inner {
    width: 1440px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    padding: 40px 0;
    overflow: hidden;
    .slides{
      height: 80px;
      display: flex;
      top: 0;
      bottom: 0;
      margin: auto;
      position: absolute;
      align-items: center;
      &.animated {
        transition: .5s ease-out;
      }
      img {
        height: 40px;
        &:not(:last-child) {
          margin-right: 120px;
        }
      }
    }
  }
}