/* HEADER */

header {
  .inner {
    .nav {
      .search {
        height: 34px;
        position: relative;
        margin-left: 65px;
        input {
          width: 36px;
          height: 34px;
          padding: 5px;
          border-radius: 8px;
          outline: none;
          background-color: #191919;
          color: white;
          font-size: 12px;
          transition: width .4s;
          &:focus {
            width: 190px;
            border-color: #191919;
          }
        }
        .bi.bi-search {
          height: 16px;
          color: #fbbe00;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 10px;
          margin: auto;
          transition: .4s;
          cursor: pointer;
        }
      }
      .bi.bi-person-fill {
        margin: 0 10px 0 15px;
        cursor: pointer;
      }
    }
  }
}