// HEADER
.bi.bi-person-fill {
  height: 16px;
  margin: 0 5px 0 65px;
  cursor: pointer;
}
.bi.bi-bag {
  height: 16px;
  margin: 0 10px;
  cursor: pointer;
}

// MAIN
.signin {
  margin-top: 80px;
  padding: 160px 0;
  background-image: linear-gradient( rgba(0, 0, 0, 0.4)), url("/images/signin.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  h1 {
    color: white;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 24px;
  }
  .signin__box {
    width: 500px;
    margin: 0 auto;
    border: 2px solid #191919;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: #fbbe00;
    box-shadow: 2px 2px 20px rhba(0,0,0,.3);
    color: #191919;
    h2 {
      padding: 30px;
      font-size: 20px;
      font-weight: 700;
      text-align: center;
      border-bottom: 2px solid #191919;
    }
    form {
      padding: 30px 22px;
      [type="submit"] {
        background-color: #191919;
        border: none;
        color: #fbbe00;
        font-size: 20px;
        font-weight: 700;
        cursor: pointer;
      }
      input {
        width: 100%;
        margin-bottom: 12px;
        padding: 15px;
        border: none;
        border-radius: 4px;
        outline: none;
        box-sizing: border-box;
        font-size: 14px;
      }
      p {
        font-size: 12px;
        color: #191919;
        text-align: center;
      }
    }
    .information {
      display: flex;
      border-top: 2px solid #191919;;
      a {
        flex-grow: 1;
        flex-basis: 0;
        text-align: center;
        padding: 20px;
        color: #191919;
        font-size: 14px;
        border-right: 2px solid #191919;
        &:last-child {
          border-right: none;
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

// FOOTER
footer {
  height: 240px;
  background-color: #fbbe00;
  position: relative;
  .wrap {
    font-size: 12px;
    font-weight: 400;
    width: 1440px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    padding: 40px 0;
    position: absolute;
    .menu {
      margin-bottom: 29px;
      a {
        color: #191919;
      }
    }
    address {
      align-items: center;
      margin-bottom: 29px;
    }
    p {
      margin: 0;
    }
  }
}